<aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
    <div class="nk-widget nk-widget-highlighted">
        <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Hot </span>
        </h4>
        <div class="nk-widget-content" *ngIf="recentNews">
            <div class="nk-widget-post" *ngFor="let news of recentNews">
                <a href="blog-article.html" class="nk-post-image">
                    <img src="{{news.image}}" alt="{{news.title}}">
                </a>
                <h3 class="nk-post-title">
                    <a href="blog-article.html">{{news.title}}</a>
                </h3>
                <div class="nk-post-date">
                    <span class="fa fa-calendar"></span> {{news.createdDate}}</div>
            </div>
        </div>
    </div>
    <div class="nk-widget nk-widget-highlighted">
        <h4 class="nk-widget-title"><span><span class="text-main-1">TOP</span> Players </span>
        </h4>
        <div class="nk-widget-content">
            <div class="nk-widget-match">
                <a href="#"> <span class="nk-widget-match-left"> <span class="nk-widget-match-teams"> <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> <span class="nk-widget-match-vs">VS</span>                    <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-2.jpg" alt=""> </span> </span> <span class="nk-widget-match-date">CS:GO - Apr 28, 2018 8:00 pm</span> </span>
                    <span class="nk-widget-match-right"> <span class="nk-match-score"> Upcoming </span> </span>
                </a>
            </div>
            <div class="nk-widget-match">
                <a href="#"> <span class="nk-widget-match-left"> <span class="nk-widget-match-teams"> <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-3.jpg" alt=""> </span> <span class="nk-widget-match-vs">VS</span>                    <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-2.jpg" alt=""> </span> </span> <span class="nk-widget-match-date">LoL - Apr 24, 2018 7:20 pm</span> </span>
                    <span class="nk-widget-match-right"> <span class="nk-match-score"> Upcoming </span> </span>
                </a>
            </div>
            <div class="nk-widget-match">
                <a href="#"> <span class="nk-widget-match-left"> <span class="nk-widget-match-teams"> <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> <span class="nk-widget-match-vs">VS</span>                    <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-4.jpg" alt=""> </span> </span> <span class="nk-widget-match-date">Dota 2 - Apr 12, 2018 6:40 pm</span> </span>
                    <span class="nk-widget-match-right"> <span class="nk-match-score bg-dark-1"> 0 : 0 </span> </span>
                </a>
            </div>
        </div>
    </div>
    <div class="nk-widget nk-widget-highlighted">
        <h4 class="nk-widget-title"><span><span class="text-main-1">Next</span> Matches </span>
        </h4>
        <div class="nk-widget-content">
            <div class="nk-widget-match">
                <a href="#"> <span class="nk-widget-match-left"> <span class="nk-widget-match-teams"> <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> <span class="nk-widget-match-vs">VS</span>                    <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-2.jpg" alt=""> </span> </span> <span class="nk-widget-match-date">CS:GO - Apr 28, 2018 8:00 pm</span> </span>
                    <span class="nk-widget-match-right"> <span class="nk-match-score"> Upcoming </span> </span>
                </a>
            </div>
            <div class="nk-widget-match">
                <a href="#"> <span class="nk-widget-match-left"> <span class="nk-widget-match-teams"> <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-3.jpg" alt=""> </span> <span class="nk-widget-match-vs">VS</span>                    <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-2.jpg" alt=""> </span> </span> <span class="nk-widget-match-date">LoL - Apr 24, 2018 7:20 pm</span> </span>
                    <span class="nk-widget-match-right"> <span class="nk-match-score"> Upcoming </span> </span>
                </a>
            </div>
            <div class="nk-widget-match">
                <a href="#"> <span class="nk-widget-match-left"> <span class="nk-widget-match-teams"> <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> <span class="nk-widget-match-vs">VS</span>                    <span class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-4.jpg" alt=""> </span> </span> <span class="nk-widget-match-date">Dota 2 - Apr 12, 2018 6:40 pm</span> </span>
                    <span class="nk-widget-match-right"> <span class="nk-match-score bg-dark-1"> 0 : 0 </span> </span>
                </a>
            </div>
        </div>
    </div>
</aside>