<div class="row vertical-gap" *ngIf="analy">
    <div class="col-lg-4">
        <div class="nk-feature-1">
            <div class="nk-feature-icon"> <img src="https://image.flaticon.com/icons/svg/1246/1246351.svg" alt=""> </div>
            <div class="nk-feature-cont">
                <h3 class="nk-feature-title"><a href="#">{{analy.users}}</a></h3>
                <h4 class="nk-feature-title text-main-1"><a href="#">Users</a></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="nk-feature-1">
            <div class="nk-feature-icon"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/icon-gamepad.png" alt=""> </div>
            <div class="nk-feature-cont">
                <h3 class="nk-feature-title"><a href="#">PS4</a></h3>
                <h4 class="nk-feature-title text-main-1"><a href="#">Users</a></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="nk-feature-1">
            <div class="nk-feature-icon"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/icon-gamepad-2.png" alt=""> </div>
            <div class="nk-feature-cont">
                <h3 class="nk-feature-title"><a href="#">Xbox</a></h3>
                <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
            </div>
        </div>
    </div>
</div>