<!-- Additional Classes: .nk-header-opaque-->
<header class="nk-header nk-header-opaque">
    <app-header></app-header>
    <!--START: NavbarAdditional Classes: .nk-navbar-sticky .nk-navbar-transparent .nk-navbar-autohide-->
    <app-menu></app-menu>
</header>
<!--START: Navbar MobileAdditional Classes:.nk-navbar-left-side.nk-navbar-right-side.nk-navbar-lg.nk-navbar-overlay-content-->
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="index.html" class="nk-nav-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/logo.png" alt="" width="120"> </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav"> </ul>
            </div>
        </div>
    </div>
</div>
<div class="nk-main">
    <div class="nk-gap-2"></div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="nk-gap-4"></div>
    <footer class="nk-footer">
        <app-footer></app-footer>
    </footer>
</div>
<img class="nk-page-background-top" src="https://cdn-html.nkdev.info/goodgames/assets/images/bg-top.png" alt=""><img class="nk-page-background-bottom" src="https://cdn-html.nkdev.info/goodgames/assets/images/bg-bottom.png" alt="">