<app-chat></app-chat>
<div class="nk-gap-2"></div>
<h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> News </span>
</h3>
<div class="nk-gap"></div>
<app-new-box></app-new-box>
<div class="nk-gap-2"></div>
<div class="row vertical-gap">
    <div class="col-lg-8">
        <!-- <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Boss</span> Queue</span>
        </h3>
        <div class="nk-gap"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="nk-match-score bg-dark-3"> Now Live </div>
                <div class="nk-gap-2"></div>
                <div class="nk-widget-match p-0">
                    <div class="nk-widget-match-teams">
                        <div class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </div>
                        <div class="nk-widget-match-vs">VS</div>
                        <div class="nk-widget-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-2.jpg" alt=""> </div>
                    </div>
                </div>
                <div class="nk-gap-2"></div>
                <p>As she said this she looked down at her hands and was surprised to see.</p>
            </div>
        </div>
        <div class="nk-gap"></div>
        <div class="nk-match">
            <div class="nk-match-team-left">
                <a href="#"> <span class="nk-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> <span class="nk-match-team-name"> SK Telecom T1 </span> </a>
            </div>
            <div class="nk-match-status">
                <a href="#"> <span class="nk-match-status-vs">VS</span> <span class="nk-match-status-date">Apr 28, 2018 8:00 pm</span> <span class="nk-match-score bg-danger"> 2 : 17 </span> </a>
            </div>
            <div class="nk-match-team-right">
                <a href="#"> <span class="nk-match-team-name"> Cloud 9 </span> <span class="nk-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-2.jpg" alt=""> </span> </a>
            </div>
        </div>
        <div class="nk-match">
            <div class="nk-match-team-left">
                <a href="#"> <span class="nk-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-3.jpg" alt=""> </span> <span class="nk-match-team-name"> Counted logic gaming </span> </a>
            </div>
            <div class="nk-match-status">
                <a href="#"> <span class="nk-match-status-vs">VS</span> <span class="nk-match-status-date">Apr 15, 2018 9:00 pm</span> <span class="nk-match-score bg-success"> 28 : 19 </span> </a>
            </div>
            <div class="nk-match-team-right">
                <a href="#"> <span class="nk-match-team-name"> SK Telecom T1 </span> <span class="nk-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> </a>
            </div>
        </div>
        <div class="nk-match">
            <div class="nk-match-team-left">
                <a href="#"> <span class="nk-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-4.jpg" alt=""> </span> <span class="nk-match-team-name"> Team SoloMid </span> </a>
            </div>
            <div class="nk-match-status">
                <a href="#"> <span class="nk-match-status-vs">VS</span> <span class="nk-match-status-date">Apr 28, 2018 8:00 pm</span> <span class="nk-match-score bg-dark-1"> 13 : 13 </span> </a>
            </div>
            <div class="nk-match-team-right">
                <a href="#"> <span class="nk-match-team-name"> SK Telecom T1 </span> <span class="nk-match-team-logo"> <img src="https://cdn-html.nkdev.info/goodgames/assets/images/team-1.jpg" alt=""> </span> </a>
            </div>
        </div>
        <div class="nk-gap-3"></div> -->

        <app-news></app-news>
        <div class="nk-gap"></div>
        <app-latest-pictures></app-latest-pictures>
        <div class="nk-gap-2"></div>

    </div>
    <div class="col-lg-4">
        <!-- START: Sidebar Additional Classes: .nk-sidebar-left .nk-sidebar-right .nk-sidebar-sticky -->
        <app-right></app-right>
    </div>
</div>